<div class="footer">
    <div class="contact-container">
        <div class="contact-info">
            <h1>Comunícate con nosotros</h1>
            <p>Si tienes alguna pregunta o necesitas <br>más información, ¡estamos aquí para ayudarte!</p>
            <ul>
                <li><strong>Teléfono:</strong> +593 99 572 7820</li>
                <li><strong>Email:</strong> visasflashsas&#64;gmail.com</li>
            </ul>
        </div>

        <div class="contact-form">
            <form (ngSubmit)="sendMessage()">
                <label for="name">Nombre</label>
                <input type="text" id="name" placeholder="Tu nombre" [(ngModel)]="name" name="name" required>

                <label for="contactOption">Enviar mensaje por:</label>
                <select id="contactOption" [(ngModel)]="contactOption" name="contactOption">
                    <option value="whatsapp">WhatsApp</option>
                    <option value="email">Correo Electrónico</option>
                </select>
                @if (contactOption === 'whatsapp') {
                <div>
                    <label for="numero">Número</label>
                </div>
            }

            @if (contactOption === 'email') {
                <div>
                    <label for="email">Correo Electrónico</label>
                </div>
            }

                <label for="message">Mensaje</label>
                <textarea id="message" placeholder="Escribe tu mensaje aquí" [(ngModel)]="message" name="message" required></textarea>

                <button type="button" (click)="sendMessage()">Enviar mensaje</button>
            </form>
        </div>
    </div>
</div>
