<!-- Footer -->
<div class="footer">
   

    <!-- Contenedor de contacto dentro del pie de página -->
    <div class="contact-container">
        <div class="contact-info">
            <h1>Comunícate con nosotros</h1>
            <p>Si tienes alguna pregunta o necesitas <br>más información, ¡estamos aquí para ayudarte!</p>
            <ul>
                <li><strong>Teléfono:</strong> +593 99 572 7820</li>
                <li><strong>Email:</strong> info&#64;gmail.com</li>
            </ul>
        </div>

        <div class="contact-form">
            <form>
                <label for="name">Nombre</label>
                <input type="text" id="name" placeholder="Tu nombre" required>

                <label for="email">Correo electrónico</label>
                <input type="email" id="email" placeholder="Tu correo electrónico" required>

                <label for="message">Mensaje</label>
                <textarea id="message" placeholder="Escribe tu mensaje aquí" required></textarea>

                <button type="submit">Enviar mensaje</button>
            </form>
        </div>
    </div>


</div>
