/* Estilo del pie de página */
.footer {
    text-align: center;
    padding: 50px;
    background-color: #EB144C; /* Color primario */
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Contenedor principal de contacto en el pie de página */
.contact-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 0;
    max-width: 1200px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.95); /* Fondo blanco semitransparente */
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
}

/* Información de contacto */
.contact-info {
    flex: 1;
    padding: 20px;
    color: #202329;
    font-family: 'Arial', sans-serif;
    min-width: 250px; /* Asegura que cada columna tenga un ancho mínimo */
}

.contact-info h1 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #EB144C; /* Color primario */
}

.contact-info p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
}

/* Estilo del formulario de contacto */
.contact-form {
    flex: 1;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    min-width: 250px; /* Asegura que cada columna tenga un ancho mínimo */
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form select {
    appearance: none; /* Oculta el diseño predeterminado */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: white;
    cursor: pointer;
    color: #202329;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuOTk5NDggMS43NTM2NEwxMC4wMDAxIDIuMjQ2MzRsLTUuMDAwMSA0LjY1MjY2TDQuNjA3MzMgMi4yNDYzNEw5LjYxMTY2IDEuNzUzNjRMMTAgMS43NTM2NEw5Ljk5OTQ4IDEuNzUzNjRaIiBmaWxsPSIjQzBDMEMwIi8+PC9zdmc+'); /* Flecha personalizada */
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.contact-form select:focus {
    border-color: #EB144C;
    outline: none;
}


.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #EB144C;
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 120px; /* Altura del área de texto */
}

.contact-form button {
    padding: 12px;
    background-color: #06193E; /* Color primario */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
    background-color: #EB144C; /* Un tono más claro del azul oscuro */
    transform: scale(1.05);
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #EB144C; /* Color primario */
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #06193E;
    text-decoration: underline;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column; /* Apilar elementos verticalmente */
        align-items: center; /* Centrar elementos */
    }

    .contact-info, 
    .contact-form {
        flex: none; /* Desactivar flex para que no intenten ocupar el mismo espacio */
        width: 80%; /* Asegurar que ocupen todo el ancho */
        margin-bottom: 20px; /* Espaciado entre contenedores */
        padding: 0;
    }

    .contact-info h1 {
        font-size: 22px; /* Reducir tamaño de fuente en móvil */
    }

    .contact-form button {
        font-size: 14px; /* Reducir tamaño de fuente del botón */
    }
}
