<section class="por-que-elegirnos">
    <div class="container">
        <div class="image-container">
            <img src="https://media.es.wired.com/photos/642c3cc1b4e328f883978833/16:9/w_2560%2Cc_limit/Google%25201392494719.jpg" alt="Persona viajando">
        </div>
        <div class="content-container">
            <h1>Por qué elegirnos</h1>
            <p class="text">En Visas Flash, hacemos tus trámites de viaje fáciles y seguros. Con nuestro servicio de adelantamiento de citas, obtendrás rapidez y comodidad sin complicaciones. ¡Confía en nosotros para llegar a tu destino sin estrés!</p>
            <div class="features">
                <div class="feature">
                    <span class="icon">⏳</span>
                    <h3>Rapidez</h3>
                    <p>Obtén tu visa rápidamente, sin trámites innecesarios.</p>
                </div>
                <div class="feature">
                    <span class="icon">🔒</span>
                    <h3>Seguro</h3>
                    <p>Tu información siempre está segura con nosotros.</p>
                </div>
                <div class="feature">
                    <span class="icon">✔️</span>
                    <h3>Orientación al éxito</h3>
                    <p>El 99% de nuestras solicitudes son aprobadas.</p>
                </div>
                <div class="feature">
                    <span class="icon">❓</span>
                    <h3>Compromiso</h3>
                    <p>Estamos aquí para ayudarte 24/7.</p>
                </div>
            </div>
        </div>
    </div>
</section>
