<div class="landing-page">

    <div class="image">
        <img src="/assets/img/portada.png" alt="Mujer sonriente con pasaporte" />
    </div>
    <div class="content">
        <h1 style="text-align: center; line-height: 1.5;">
            Sacar la visa <br>
            <span style="font-weight: bold;">nunca fue tan fácil</span>
            con Visas Flash
        </h1>
        <button (click)="contact()"
            style="padding: 15px 30px; font-size: 18px; background-color: #EB144C; color: white; border: none; border-radius: 25px; cursor: pointer;"
            onmouseover="this.style.backgroundColor='#FF5C77';" onmouseout="this.style.backgroundColor='#EB144C';">
            Ponte en contacto
        </button>
    </div>

    
</div>
<div class="container">
    <div class="metric">
        <h2>1,000</h2>
        <p>clientes satisfechos</p>
    </div>
    <div class="metric">
        <h2>24/7</h2>
        <p>asistencia disponible en todo momento</p>
    </div>
    <div class="metric trustpilot">
        <div class="stars">
            ★★★★☆
        </div>
        <p>+500 reseñas</p>
    </div>
    <div class="metric">
        <h2>1</h2>
        <p>año de experiencia</p>
    </div>
    <div class="metric">
        <h2>99%</h2>
        <p>índice de aprobación</p>
    </div>
</div>